@import "bourbon/bourbon";
@import "neat/neat";
@charset "utf-8";

body {
  font-family: 'Open Sans', sans-serif;
  }

h1 {
  font-weight: 400;
  font-family: 'Orbitron';
   }

.outer-container {
  @include outer-container;
}
