@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";
@import "nav";
@import "flexbox";
@import "what";

@charset "utf-8";

body {
  font-family: 'Open Sans', sans-serif;
  }

h1,h2,h3,h4,h5 {
  font-weight: 400;
  font-family: 'Orbitron';
   }

.orbitron {
  font-family: 'Orbitron';
}

.text-logo {
  font-size: x-large;
}

.fucking-heavy {
  font-weight: 900;
}

.fucking-big {
  font-size: 200%;
}

.outer-container {
  @include outer-container;
  margin-top: 25px;
}

.row {
  @include row(table);
}

.center {
  text-align: center;
}

.archive {
  @include span-columns(12);
}

.red {
  color: red;
}

.black {
  color: black;
}

.white {
  color: white;
}
